<!-- your html code here -->
<style>
    .form-label {
        font-weight: bold;
        text-align: left;
    }
</style>

<h2>Contact</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi tempora minus voluptatem? Est voluptates, unde
    officiis dolores aperiam perferendis ex vero, consequuntur repudiandae earum laboriosam hic ipsum quaerat nihil
    libero.</p>

<div class="container-fluid mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Your E-mail</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Your email">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Your message</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                    placeholder="Please enter your message here..."></textarea>
            </div>
            <div class="row">
                <div class="col-sm-12 text-end">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>