<!-- your html code here -->

<div class="container-fluid px-0 m-6 mb-5">
    <div class="card w-100 ps-8" style="width: 300px; height: 600px;">
        <div class="row g-0">
            <div class="col-md-7 d-flex align-items-top justify-content-end ms-5 ps-5">
                <div class="card-body ps-5 mt-5">
                    <h5 class="card-title h1">The first Heading <small class="text-muted"> Will Catch Your Eye</small> </h5>
                    <p class="card-text lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Present commodo cursus magna, vel scelerisque nist consectetur. Fusce dapibus, tellus accursus commodo. Donec ullamcorper nulla non metus auctor fringilla. </p>
                </div>
            </div>
            <div class="col-md-4 d-flex align-items-center justify-content-center">
                <img src="assets/img/1.jpg" class="img-fluid rounded-circle m-5 me-5" style="width: 500px; height: 500px;" alt="mad men">
            </div>
        </div>
    </div>
</div>