<div class="mt-5 mb-5">
  <h2>Portfolio</h2>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis fugit accusantium beatae illo? Ea, eaque
    laboriosam culpa iste totam nulla praesentium quas, cumque ducimus odit obcaecati impedit non at? Officiis.</p>
  <div class="card-group">
    <div class="card mx-3">
      <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="imagen">
      <div class="card-body">
        <h5 class="card-title text-primary">Project name</h5>
        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum reprehenderit qui quidem
          repellat, rerum blanditiis modi perferendis porro quia eos. In accusantium, dolor minus cupiditate ab neque
          dolorum dignissimos repellat.</p>
      </div>
    </div>
    <div class="card mx-3">
      <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="imagen">
      <div class="card-body">
        <h5 class="card-title text-primary">Project name</h5>
        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum reprehenderit qui quidem
          repellat, rerum blanditiis modi perferendis porro quia eos. In accusantium, dolor minus cupiditate ab neque
          dolorum dignissimos repellat.</p>
      </div>
    </div>
    <div class="card mx-3">
      <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="imagen">
      <div class="card-body">
        <h5 class="card-title text-primary">Project name</h5>
        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum reprehenderit qui quidem
          repellat, rerum blanditiis modi perferendis porro quia eos. In accusantium, dolor minus cupiditate ab neque
          dolorum dignissimos repellat.</p>
      </div>
    </div>
  </div>
</div>