<!-- your html code here -->
<div class="container-fluid mt-5 mb-10">
    <img src="/website/assets/img/2.jpg" class="rounded-circle img-fluid float-start" alt="img2">
    <h2>
        The Second Heading
        <medium class="text-secondary"> Is Pretty Cool Too.</medium>
    </h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed quos eveniet quas nostrum assumenda blanditiis,
        tempora neque culpa modi consequuntur repellendus libero laudantium, dolore error dolorum similique magnam?
        Tempora, corrupti?</p>
</div>